*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: themillion;
    src: url(letra.ttf);
}
h2{
    text-align: center;
    font-size: 80px;
    font-family: themillion;
    margin-top: 10px;
    color: rgba(248, 250, 250, 0.962);
    text-shadow: 0px 0px 100px black;
    font-weight: bold;
}
.border-bottom {
    font-weight: bold
}
h1{
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
    color: rgba(248, 250, 250, 0.962);
    text-shadow: 0px 0px 100px black;
    font-family: themillion;
}
.content-all{
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 20s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    border-radius: 20px;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px rgb(244, 240, 240);
    transition: all 300ms;
    border-radius: 20px;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
    width: 100%;
    transition: all 300ms;
    border-radius: 20px;
}
.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
    border-radius: 20px;
}

@keyframes rotar{
    from{
        transform: rotateY(20deg);
    }to{
        transform: rotateY(360deg);
    }
}
.abs-center {
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }
  .form {
    width: 450px;
}

.h6{
    color: aliceblue;
  }
