{% extends 'layout.html' %}

{% block titulo %} recoverPassword {% endblock %}

{% block estilos %}

  <link rel="stylesheet" href="static/css/style.css">

<style>
  .abs-center {
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }

  .form {
    width: 450px;
  }

</style>

{% endblock %}

{% block contenido%}

<center>
  <h1 style="color:rgb(250, 243, 243);" >Recuperar contraseña</h1>
  <h6 style="color: rgb(247, 247, 247);">Para reajustar su contraseña, dijite su dirección de correo electrónico. Si podemos encontrarlo en la base de
    datos, le enviaremos un email con instrucciones para poder acceder de nuevo.</h6>
  </center>
<div class="container">
  <div class="abs-center">
    <div class="login">
      <form action="{{url_for('recoverPasswordForm1')}}" class=" border-danger p-3 form" method="POST" enctype="multipart/form-data" style="background-color: #f49391d0; border-radius:25px;">

        <div class="form-group">
          <h5>Email:</h5>
          <input type="email" class="form-control" placeholder="ejemplo@gmail.com" name="email_form" id="email_form"
            value="{{email_form}}">
        </div>
        <center>
        <div class="form-group"> <br>
          <button class="btn btn-danger" id="send_form">Enviar</button>
        </div>
      </center>

      </form>
    </div>
  </div>
</div>
{% endblock %}