{% extends 'layout.html' %}

{% block titulo %} recoverPassword_  {% endblock %}

{% block estilos %}
<link rel="stylesheet" href="static/css/style.css">
<style>
  .abs-center {
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }

  .form {
    width: 450px;
  }
</style>
{% endblock %}

{% block contenido%}
<center>
  <br>
  <br>
<p style="color:white;">Si ha suministrado una dirección de correo electrónico única, se le debería haber enviado un correo electrónico.
  Contiene instrucciones sencillas para confirmar y completar este cambio de contraseña. Si sigue teniendo problemas, por favor contacte con el administrador del sitio.</p>
<a href="/">
  <input type="button" class="btn btn-danger rounded-pill" value="Continuar">
</a>
</center>
{% endblock %}